{% extends "base.html" %}
{% block title %}Quiz | SmartQuiz{% endblock %}

{% block content %}
<div class="quiz-page">
  <div class="quiz-card">

    <h2 class="quiz-title">{{ subject.name }} Quiz</h2>
    <p>Welcome, {{ request.user.username }}</p>

    <form method="post" action="{% url 'submit_quiz' %}">
      {% csrf_token %}

      {% for question in questions %}
        <div style="margin-bottom:20px;">
          <p><b>{{ forloop.counter }}. {{ question.text }}</b></p>

          <label>
            <input type="radio" name="question_{{ question.id }}" value="A" required>
            {{ question.option_a }}
          </label><br>

          <label>
            <input type="radio" name="question_{{ question.id }}" value="B">
            {{ question.option_b }}
          </label><br>

          <label>
            <input type="radio" name="question_{{ question.id }}" value="C">
            {{ question.option_c }}
          </label><br>

          <label>
            <input type="radio" name="question_{{ question.id }}" value="D">
            {{ question.option_d }}
          </label>
        </div>
        <hr>
      {% endfor %}

      <button type="submit" class="btn-primary">
        Submit Quiz
      </button>
    </form>

  </div>
</div>
{% endblock %}
